/* @charset "UTF-8" é usado nos arquivos css para não termos problemas com os caracteres especiais. ex Ç.*/

@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #A3D9D9, #F2C12E, #F2421B); 
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(48, 48, 48, 0.5);
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1{
    color: #2A5CBF;
    text-align: center;
    text-shadow: 1px 1px 2px #10224673;
}

h2{
    color: #D93280;
}

p{
    text-align: justify;
}